<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
        <h1>당신과 사주가 비슷한 연예인은?!?!</h1>
        <h3>생년월일과 이름을 입력해주세요</h3>
        <form action="/random_game">
            <input type="date" name="test">
            <input type="text" name="name">
            <input type="submit" value="GOGO">
        
       


</body>
</html>